@layer global {
  /* dm-sans-300 - latin */
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/dm-sans-v17-latin-300.woff2") format("woff2");
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/dm-sans-v17-latin-500.woff2") format("woff2");
  }
  /* dm-sans-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v17-latin-600.woff2") format("woff2");
  }
  /* dm-sans-600italic - latin */
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v17-latin-600italic.woff2") format("woff2");
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/dm-sans-v17-latin-700.woff2") format("woff2");
  }

  /* bricolage-grotesque-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Bricolage Grotesque";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/bricolage-grotesque-v9-latin-regular.woff2")
      format("woff2");
  }
  /* bricolage-grotesque-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "Bricolage Grotesque";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/bricolage-grotesque-v9-latin-700.woff2")
      format("woff2");
  }

  :root {
    /* Neutral colors (dark → light) */
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);

    /* Brand / Accent colors */
    --color-accent-orange-500: hsl(28, 100%, 52%);
    --color-primary-blue-500: hsl(233, 67%, 56%);
    --color-primary-blue-700: hsl(248, 70%, 36%);

    --color-main-bg: var(--color-neutral-900);
    --color-text-light: var(--color-neutral-0);
    --color-text-medium: var(--color-neutral-200);
    --color-form-bg-dark: var(--color-neutral-800);
    --color-form-bg-dark-hover: var(--color-neutral-700);
    --color-form-bg-med: var(--color-neutral-700);
    --color-form-bg-light: var(--color-neutral-600);
    --color-form-border: var(--color-neutral-600);
    --color-button: var(--color-primary-blue-500);
    --color-button-hover: var(--color-primary-blue-700);

    /* Font Size */
    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);

    --font-size-h1: var(--fs-52);
    --font-size-dropdown: var(--fs-14);
    --font-size-search: var(--fs-20);
    --font-size-city: var(--fs-28);
    --font-size-date: var(--fs-18);
    --font-size-temp: var(--fs-96);
    --font-size-panel-title: var(--fs-18);
    --font-size-panel-value: var(--fs-32);
    --font-size-daily-forecast-title: var(--fs-20);
    --font-size-daily-forecast-day: var(--fs-18);
    --font-size-daily-forecast-temp: var(--fs-16);
    --font-size-daily-forecast-dropdown: var(--fs-16);
    --font-size-daily-forecast-hour: var(--fs-20);

    @media (width >= calc(700 / 16 * 1rem)) {
      --font-size-dropdown: var(--fs-16);
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: var(--color-main-bg);
    color: var(--color-text-light);
  }

  h1,
  h2,
  h3 {
    font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    border: none;
    width: 100%;
  }

  .dashboard {
    display: grid;
    gap: 32px;
    grid-template-areas:
      "current"
      "daily"
      "hourly";

    @media (width >= calc(1000 / 16 * 1rem)) {
      gap: 48px 32px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "current current hourly"
        "daily daily hourly";
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - 32px) 1fr;

    @media (width >= calc(700 / 16 * 1rem)) {
      grid-template-columns: 1fr min(calc(100% - 48px), calc(1216 / 16 * 1rem)) 1fr;
    }

    > * {
      grid-column: 2;
    }
  }

  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip-link:focus {
      background-color: var(--color-main-bg);
      color: var(--color-text-light);
      left: 0;
      width: auto;
      height: auto;
      padding: 10px;
      border: 2px solid var(--color-text-light);
    }
  }
  .main {
    display: grid;
    row-gap: 32px;
  }

  .block {
    background-color: var(--color-form-bg-dark);
    border: 1px solid var(--color-form-border);
    border-radius: 12px;
  }
}

@layer component {
  .header {
    .header__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block-start: 16px;
    }
    .header__homelink {
    }
    .header__logo {
      width: calc(137 / 16 * 1rem);

      @media (width >= calc(700 / 16 * 1rem)) {
        width: calc(197 / 16 * 1rem);
      }
    }
    .header__dropdown {
    }
  }
  .hero {
    .hero__content {
      display: grid;
      justify-items: center;
      padding-block-start: 48px;
    }
    .hero__title {
      font-size: var(--font-size-h1);
      margin-block-end: 48px;
      text-align: center;
      line-height: 1.2;
      @media (width < calc(1000 / 16 * 1rem)) {
        max-width: 15ch;
      }
    }
    .hero_search {
      display: grid;
      gap: 12px 16px;
      width: 100%;
      max-width: calc(656 / 16 * 1rem);

      @media (width >= calc(700 / 16 * 1rem)) {
        grid-template-columns: 1fr auto;
      }
    }
    .hero_textbox {
      background-image: url("./assets/images/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 24px center;
      background-color: var(--color-form-bg-dark);
      font-size: var(--font-size-search);
      padding: 16px 20px 16px 60px;
      color: var(--color-text-medium);
      border-radius: 12px;

      &:focus {
        outline: 2px solid var(--color-text-medium);
      }
    }
    .hero_btn {
      background-color: var(--color-button);
      border-radius: 12px;
      font-size: var(--font-size-search);
      color: var(--color-text-light);
      padding: 16px 24px;
      transition: background-color 120ms ease-in-out;

      &:hover {
        background-color: var(--color-button-hover);
        cursor: pointer;
      }
    }
  }
  .current {
    grid-area: current;
    .current-weather {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-block-end: 20px;
      padding: 40px 24px;
      background-image: url("./assets/images/bg-today-small.svg");
      background-repeat: no-repeat;
      background-color: var(--color-button-hover);
      background-size: cover;
      background-position: center bottom;
      border-radius: 20px;
      overflow: clip;

      @media (width >= calc(700 / 16 * 1rem)) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url("./assets/images/bg-today-large.svg");
        padding-block: 83px;
      }
    }
    .current-location {
      text-align: center;
    }
    .current-city {
      font-size: var(--font-size-city);
      font-weight: 700;
      margin-block-end: 12px;
    }
    .current-date {
      font-size: var(--font-size-date);
      color: var(--color-text-medium);
    }
    .current-info {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .current__icon {
      width: 120px;
      height: auto;
    }
    .current-temp {
      font-size: var(--font-size-temp);
      line-height: 1;
      letter-spacing: -2%;
      font-weight: 600;
      font-style: italic;
    }
    .current-conditions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      @media (width >= calc(700 / 16 * 1rem)) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .current-condition {
      padding: 20px;
    }
    .current-condition-title {
      font-size: var(--font-size-panel-title);
      color: var(--color-text-medium);
      margin-block-end: 24px;
    }
    .current-condition-value {
      font-size: var(--font-size-panel-value);
      font-weight: 300;
    }
  }

  .daily {
    grid-area: daily;
  }

  .hourly {
    grid-area: hourly;
  }
}
